*{
    color:saddlebrown; 
}

a:hover {
    background-color: chartreuse;
}

h2:nth-child(1){
    background-color: chocolate;
}

h2::first-letter{

    font-size: 50px;
    color: crimson;
}

p{
    width: 200px; 
    background-color: darkblue;
    border-width: 5px;
    border-color: black;
    border-style: dotted;
    margin: 10px;
}

.murdah {
    
    background-color: aqua; 
    border-width: 5px;
    border-color: black;
    border-style:inset; 
}
#button {
    padding: 20px;
    margin-left: 50px;
}